* { box-sizing: border-box; }

html, body {
	margin: 0;
	padding: 0;
	background: url('../images/pondblur.jpg');
	background-size: cover;
	overflow: hidden;
}
.overlay {
	position: absolute;
	width: 100%;
	z-index: 2;
	height: 1000px;
	background: rgba(115,176,188,0.05);
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}
.overlay.outGame {
	background: rgba(115,176,188,0.75);
}
#play-button {
	margin: 10% auto;
	display: inherit;
	cursor: pointer;
}
#game {
	width: 100% !important;
	height: 1000px !important;
}
#ent1 {
	border-radius: 50%;
	box-shadow: 0.5px 0.5px 1px #777;
}
.Floor {
	border-radius: 5px;
	border: 1px solid #b4b4b4;
}